.navbar-logo {
    height: 100px;
}

body{
    margin-left: 1in;
    margin-right: 1in;
    font-family: Georgia;
}
.navbar{
    width: 100%;
}

.boxes {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav-text{
    color :#cccccc;
}

.navbar-active{
    color:#FFF;
    text-shadow:1px 1px #c4c4c4;
    font-size:18px;
}

.card{
    background-color: #88001b;
    color: #FFF;
}

