/*
#88001b
#5e0819
*/


.navbar-logo {
    height: 100px;
}

body {
    background-color: #000;
    font-family: Georgia;
}

.boxes {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav-text {
    color: #cccccc;
}

.navbar-active {
    color: #FFF;
    text-shadow: 3px 3px 0.125rem #5e0819;
    font-size: 18px;
}

.card {
    background-color: #88001b;
    color: #FFF;
}


.parallax+p {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    line-height: 1.8rem;
}

footer {
    background-color: #88001b;
    color: #FFF;
}



.btn-outline-light {
    box-shadow: 4px 4px 0.125rem #5e0819;
}

.footer-head {
    text-shadow: 2px 2px 0.125rem #979595;
}

.parallax {
    background-image: url(./img/ramen.png);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-title {
    text-shadow: 3px 3px 0.125rem #38040f;
    font-size: 35px;
}

.svg-background {
    background-color: transparent;
}



@media only screen and (max-width: 1336px) {
    .svg-img {
        opacity: 0;
    }
}

.accordion-item {
    box-shadow: 4px 4px 0.125rem #5e0819;
    color: #FFF;
    background-color: transparent;
}

.accordion-button {
    background-color: transparent;
    color: #FFF;
}

.order-online-delivery {
    color: #FFF;
}

.topmenu {
    color: #FFF;
}

.about-things {
    background-color: #FFF;
    color: #000;
}

.about-img {
    width: 300px;
    height: 300px;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #FFF;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #000;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 0 0/ 25%);
}

.drinks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(./img/arrow2.png);
}

.accordion-button::after {
    background-image: url(./img/arrow1.png);
}

.homecards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
}

.accordian-text {
    text-align: left;
}

.card-about-img {
    width: fit-content;

}

.card-menu-special-class {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row {
    flex-wrap: wrap;
}

.bar {
    max-width: 100%;
}

.message {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    color: #FFF;
}

form {
    width: 90%;
    max-width: 90%;
}

.input-group {
    margin-bottom: 30px;
    position: relative;
    border-radius: 12px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    font-size: 15px;
    background-color: #000;
    color: #FFF;
    box-shadow: 4px 4px 0.125rem #5e0819;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #FFF;
    cursor: text;
    transition: 0.2s;
}

.submit-contact {
    padding: 10px 0;
    color: #FFF;
    outline: none;
    width: 100%;
    background-color: #000;
    cursor: pointer;
    box-shadow: 4px 4px 0.125rem #5e0819;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.menu-card-online {
    background-color: #88001b;
    border-radius: 20px;
}

.parallax-1 {
    background-image: url(./img/sushi8.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 {
    background-image: url(./img/sushi4.png);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.b2t {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #FFF;
    color: #88001b;
    font-size: 32px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .4s;
    pointer-events: none;
    opacity: 0;
}

.b2t.active {
    pointer-events: auto;
    opacity: 1;
}

.b3t {
    position: fixed;
    bottom: 50%;
    right: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #FFF;
    color: #88001b;
    font-size: 32px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .4s;
    pointer-events: none;
    opacity: 1;
}

.text-para-1 {
    border-radius: 12px;
}

.card {
    border-radius: 20px;
}

.btn-carousel {
    background-color: #88001b;
    outline: none;
    color: #FFF;
}

.about-reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
}

.review-name {
    text-shadow: 2px 2px 0.125rem #979595;
}

.about-review-stars {
    color: #FFD700;
}

.carousel-text{
    text-shadow: 2px 2px 0.125rem #000;
}

.home-text-section + img{
    height: 400px;
}