.navbar-logo {
    height: 100px;
}

body{
    background-color: #000;
    font-family: Georgia;
}

.boxes {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav-text{
    color :#cccccc;
}

.navbar-active{
    color:#FFF;
    text-shadow:3px 3px #5e0819;
    font-size:18px;
}

.card{
    background-color: #88001b;
    color: #FFF;
}


.parallax + p{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    line-height: 1.8rem;
}
.pimg1{
    background-image:url();
}

footer{
    background-color: #88001b;
    color: #FFF;
}

.carousel-item{
    width: inherit;
    height:700px
}

.btn-outline-light{
    box-shadow: 4px 4px #5e0819;
}

.footer-head{
    text-shadow:2px 2px #979595;
}

.parallax {
    background-image: url(./img/image.jfif);
    min-height: 500px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  .card-title{
    text-shadow:3px 3px #38040f;
    font-size: 35px;
}

.svg-background{
    background-color: transparent;
}
